{"type":"RdbSnapshotFinished","db_type":"pg","schema":"test_db_*.*","tb":"finished_table_*$1"}
{"type":"RdbSnapshotFinished","db_type":"pg","schema":"test_db_*.*","tb":"finished_table_*$2"}
{"type":"RdbSnapshot","db_type":"pg","schema":"public","tb":"resume_table_2","order_key":{"single":["p.k","1"]}}
{"type":"RdbSnapshot","db_type":"pg","schema":"test_db_*.*","tb":"resume_table_*$5","order_key":{"single":["p.k","1"]}}
{"type":"RdbSnapshot","db_type":"pg","schema":"public","tb":"resume_table_*$4","order_key":{"single":["p.k","1"]}}
{"type":"RdbSnapshot","db_type":"pg","schema":"public","tb":"resume_table_1","order_key":{"single":["pk","1"]}}
{"type":"RdbSnapshot","db_type":"pg","schema":"public","tb":"resume_table_3","order_key":{"composite":[["f_0","1"],["f_1","30"]]}}
{"type":"RdbSnapshot","db_type":"pg","schema":"public","tb":"nullable_composite_unique_key_table","order_key":{"composite":[["uk1","6"],["uk2","6"]]}}