this file is more like checkpoint position log
{"type":"RdbSnapshotFinished","db_type":"mysql","schema":"test_db_@","tb":"finished_table_*$1"}
{"type":"RdbSnapshot","db_type":"mysql","schema":"test_db_@","tb":"resume_table_*$4","order_key":{"single":["p.k","5"]}}

{"type":"RdbSnapshot","db_type":"mysql","schema":"test_db_1","tb":"no_pk_no_uk","order_key":{"single":["f_0","5"]}}
{"type":"RdbSnapshot","db_type":"mysql","schema":"test_db_1","tb":"one_pk_no_uk","order_key":{"single":["f_0","5"]}}
{"type":"RdbSnapshot","db_type":"mysql","schema":"test_db_1","tb":"no_pk_one_uk","order_key":{"single":["f_1","5"]}}
{"type":"RdbSnapshot","db_type":"mysql","schema":"test_db_1","tb":"no_pk_multi_uk","order_key":{"single":["f_0","5"]}}
{"type":"RdbSnapshot","db_type":"mysql","schema":"test_db_1","tb":"one_pk_multi_uk","order_key":{"single":["f_0","5"]}}
{"type":"RdbSnapshot","db_type":"mysql","schema":"test_db_1","tb":"multi_pk","order_key":{"single":["f_0","5"]}}
{"type":"RdbSnapshot","db_type":"mysql","schema":"test_db_1","tb":"nullable_composite_unique_key_table","order_key":{"single":["uk1","6"]}}
{"type":"RdbSnapshot","db_type":"mysql","schema":"test_db_1","tb":"varchar_uk","order_key":{"single":["id","6"]}}