name: Build and push images

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: "Docker image name"
        required: true
        type: string
        default: apecloud/ape-dts
      image_tag:
        description: "Docker image tag"
        required: true
        type: string
        default: latest
      platforms:
        description: "Target platforms for multi-arch build"
        required: true
        type: string
        default: linux/arm64,linux/amd64

env:
  DOCKER_REGISTRY_URL: docker.io
  DOCKER_USER: ${{ secrets.DOCKER_REGISTRY_USER }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
  ALIYUN_REGISTRY_URL: apecloud-registry.cn-zhangjiakou.cr.aliyuncs.com
  ALIYUN_USER: ${{ secrets.ALIYUN_REGISTRY_USER }}
  ALIYUN_PASSWORD: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}

jobs:
  build:
    name: Cross build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cross
        uses: taiki-e/install-action@v2
        with:
          tool: cross

      - name: Build for x86_64
        if: contains(inputs.platforms, 'linux/amd64')
        run: |
          cross build --target x86_64-unknown-linux-gnu --release --features metrics
          cp target/x86_64-unknown-linux-gnu/release/dt-main amd64-unknown-linux-gnu-dt-main

      - name: Build for aarch64
        if: contains(inputs.platforms, 'linux/arm64')
        run: |
          cross build --target aarch64-unknown-linux-gnu --release --features metrics
          cp target/aarch64-unknown-linux-gnu/release/dt-main arm64-unknown-linux-gnu-dt-main

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ${{ env.DOCKER_REGISTRY_URL }}
          username: ${{ env.DOCKER_USER }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Login to Aliyun Hub
        uses: docker/login-action@v2
        with:
          registry: ${{ env.ALIYUN_REGISTRY_URL }}
          username: ${{ env.ALIYUN_USER }}
          password: ${{ env.ALIYUN_PASSWORD }}

      - name: Build and push docker image
        run: |
          docker buildx build -f Dockerfile.github.workflow \
            --platform ${{ inputs.platforms }} \
            --tag ${{ env.DOCKER_REGISTRY_URL }}/${{ inputs.image_name }}:${{ inputs.image_tag }} \
            --tag ${{ env.ALIYUN_REGISTRY_URL }}/${{ inputs.image_name }}:${{ inputs.image_tag }} \
            --push .
